section.container.cff_magazine 
    .cff_magazine__text
        p Buy 2 mugs and get a coffee magazine free
    .cff_magazine-content
        .cff_magazine-content_card1    
            img(src="@img/magaz1.svg", alt="")
        .cff_magazine-content_card2
            img(src="@img/magaz02.svg", alt="") 
            img(src="@img/magaz3.svg", alt="") 
        .cff_magazine-content_card3
            span Premium Offer
            h1 Get our Coffee Magazine
            p The most versatile furniture system ever created. Designed to fit your life.
            a(href="http://www.youtube.com") 
                button Start Shopping
.cff_magazine-img 