section.container.feature
    .feature-content
        h2 Featured Mugs
    .feature__mugs
        .box
            a.feature__mugs1(href='')
                img.img(src='@img/card1.png' alt='')
                p Pink Premium Ceramic
                p $ 99.00 USD
                a.feature__mugs1__link(href='https://www.youtube.com/')
                    button.feature__mugs1__link-btn Explore Mug
        .box
            a.feature__mugs1(href='')
                img.img(src='@img/card2.png' alt='')
                p Golden Designers Mug
                p $50.00 
                a.feature__mugs1__link(href='https://www.youtube.com/')
                    button.feature__mugs1__link-btn Explore Mug