footer.container.footer
    .footer-content     
        .footer-content__card
            .footer-content__card-logo
                img(src="@img/logo.svg", alt="")
                p Delivering the best coffee life since 1996. From coffee geeks to the real ones.
            p CoffeeStyle Inc. © 1996
        .footer-content__links  
            a.footer-content__links-link(href="") Menu
            ul
                li 
                    a(href="") Home
                li 
                    a(href="") Our Products
                li 
                    a(href="") About
                li 
                    a(href="") Contact
                li 
                    a(href="") Styleguide
        .footer-content__links  
            a.footer-content__links-link(href="") Follow Us
            ul
                li 
                    a(href="") Facebook
                li 
                    a(href="") Instagram
                li 
                    a(href="") Pinterest
                li 
                    a(href="") Twitter 
        .footer-content__links  
            a.footer-content__links-link(href="") Contact Us
            ul
                li 
                    a(href="") We’re Always Happy to Help
                li.footer-content__links-link__email 
                    a(href="") us@coffeestyle.io
            .footer-content__links__socialnet
                a(href="") 
                    i.fa-brands.fa-telegram
                a(href="") 
                    i.fa-brands.fa-instagram
                a(href="") 
                    i.fa-brands.fa-youtube
