header 
    nav.container.header-nav
        a(href="")
            img(src="@img/logo.svg", alt="") 
        ul.header-nav__list 
            li
                a.header-nav__list-link(href="") Home
            li
                a.header-nav__list-link(href="") Our Products
            li
                a.header-nav__list-link(href="") Blog 
            li
                a.header-nav__list-link(href="") About
            li
                a.header-nav__list-link(href="") Contact
            li
                a.header-nav__list-link(href="") Styleguide
            div 
                i.fa-solid.fa-bag-shopping 
                a.header-nav__cart(href="") CART
    .header-content 
        .header-content__text
            p.header-content__p1 Best place to buy design
            h1 Coffee Mugs
            p.header-content__p2 The most versatile furniture system ever created. Designed to fit your life, made to move and grow.
            a(href="youtube.com")  
                button.header-content__btn Explore Our Products 
