section.container.lifestyle
    .lifestyle__text 
        p Behind the mugs, lifestyle stories
    .lifestyle-content  
        .lifestyle-content__card
            img(src="@img/life-1.svg", alt="")
            h2 Health Check: why do I get a headache when I haven’t had my coffee?
            p It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            span October 9, 2018
        .lifestyle-content__card
            img(src="@img/life-2.svg", alt="")
            h2 How long does a cup of coffee keep you awake?
            p It is a paradisematic country, in which roasted parts. Vel qui et ad voluptatem.
            span October 9, 2018
        .lifestyle-content__card
            img(src="@img/life-3.svg", alt="")
            h2 Recent research suggests that heavy coffee drinkers may reap health benefits.
            p It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            span October 9, 2018