section.container.products
    .products-content
        h3 MORE PRODUCTS 
    .products__cards
        .products__cards-card
            a(href="") 
                img(src="@img/card3.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name Red Love Cup
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card4.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name Black Tea Cup
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card5.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name B&W Essentials Mug
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card6.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name Winter Style Mug
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card7.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name Ceramic Tea
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card8.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name No Handle Bar Cup
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card9.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name Espresso Cup by Mugs.co
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card10.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name Pink Premium Ceramic
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe
        .products__cards-card
            a(href="") 
                img(src="@img/card11.png", alt="")
                a.products__cards-card__link(href="")
                    button.products__cards-card__link-btn Explore Mug 
                p.products__cards-card-name Summer Designer Cup
                p.products__cards-card-price $25.00 
                    span   $ 37.00 USD
                a(href="") 
                    button.products__cards-card__addCard add coffe