section.updates
    .container
        .updates-text
            p  Sign up and get free coffee bags
        .updates-content 
            h1 Coffee Updates
            .updates-content_links 
                p customer @coffestyle.io
                a(href="") 
                    button  subscribe